

<div id="detail-engin-modal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Détail</h3>
      </div>

      <!-- ************ BODY *********************-->
      <div class="modal-body">

        <p class="detail-properties"><strong>Matricule : </strong>{{selectedEngin.matricule}} </p> <hr>
        <p class="detail-properties"><strong>marque : </strong>{{selectedEngin.marque}}       </p> <hr>
        <p class="detail-properties"><strong>modele : </strong>{{selectedEngin.modele}}       </p> <hr>
        <p class="detail-properties"><strong>type : </strong>{{selectedEngin.type}}           </p> <hr>
        <p class="detail-properties"><strong>etat engin : </strong>{{selectedEngin.etat}}     </p> <hr>

        <div>
          <button type="button" class="btn btn-link btn-sm" (click)="signalerPanne(selectedEngin.id)" >signaler panne</button>
        </div>
      </div> <!-- ************END BODY ******-->



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
      </div>


    </div>
  </div>
</div>
