<div class="container-fluid">
	<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>reference_panne</th>
    <th>matricule_engin</th>
    <th>date_occurence</th>
    <th>cause</th>
    <th>réparé</th>
    
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let panne of this.pannes | paginate: { itemsPerPage: 8, currentPage: p}" >
    <td>{{panne.reference}}</td>
    <td>{{panne.matricule}}</td>
    <td>{{panne.dateOccurence | date:'fullDate' }}</td>
    <td>{{panne.cause}}</td>
    <td>{{checkIfEnginRepaired(panne)}}</td>
      <td>
        <button type="button" class="btn btn-link btn-xs" (click)="showDetailModal(panne)" 
                data-toggle="modal" data-target="#detail-panne-modal">
            <span class="glyphicon glyphicon-zoom-in" title="afficher details du panne"></span>
        </button>
        <button type="button" class="btn btn-link btn-xs" (click)="showUpdateModal(panne)" 
                data-toggle="modal" data-target="#update-panne-modal">
            <span class="glyphicon glyphicon-pencil" title="modifier panne"></span>
        </button>   


         <button type="button" class="btn btn-link btn-xs" (click)="showAddDevisModal(panne)" 
                data-toggle="modal" data-target="#add-devis-modal">
            <span class="glyphicon glyphicon-plus" title="modifier panne"></span>
        </button> 
                  
      </td>
    </tr>
  </tbody>
 </table>
 <div class="text-center">
    <pagination-controls *ngIf="pannes" (pageChange)="p = $event" class="engin-pagination" 
      previousLabel="precedent" nextLabel="suivant"></pagination-controls>
 </div>
</div>



<!-- Hidden modals for updating or viewing details of selected engin -->
<div *ngIf="selectedPanneForDetail">
  <app-detail-panne-modal [selectedPanne]="selectedPanneForDetail"></app-detail-panne-modal>
</div>

<div *ngIf="selectedPanneForDetail">
  <app-update-panne-modal [selectedPanne]="selectedPanneForDetail"></app-update-panne-modal>
</div>

<div *ngIf="selectedPanneForDetail">
  <app-add-devis-modal [selectedPanne]="selectedPanneForDetail"></app-add-devis-modal>
</div>


